@model DegreeMgmt.Models.Entities.Person

@{
    ViewBag.Title = "删除人员";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h3>确定要删除 @Model.Name 吗？</h3>
<fieldset>
    <legend>Person</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @(Model.Gender ? "男" : "女")
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthplace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthplace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobilePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" /> |
        @Html.ActionLink("返回", "Index")
    </p>
}
