@{
    ViewBag.Title = "关于";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<article>
    <p>
        基于 ASP.NET MVC 4 Web 应用程序构建，C# 编写。
    </p>

    <p>
        使用 Entity Framework 作数据访问，SQL Server Express 作为后端存储。
    </p>

    <p>
        Razor 视图引擎。
    </p>

    <p>
        日历控件：My97DatePicker.
    </p>
</article>

<aside>
    <h3>快速导航</h3>    
    <ul>
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("人员", "Index", "Person")</li>
        <li>@Html.ActionLink("联络", "Contact", "Home")</li>
    </ul>
</aside>