@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                欢迎使用学位信息管理系统
            </p>
        </div>
    </section>
}
<h3>使用本系统：</h3>
<ul>
    <li>@Html.ActionLink("人员索引", "Index", "Person")</li>
    <li>@Html.ActionLink("录入新人员", "Create", "Person")</li>
    <li>@Html.ActionLink("后台技术", "About", "Home")</li>
</ul>

